<div class="row">
  <div class="col l8">
    <div class="row">
    </div>
    <div class="row room-details-container">
      <h5><%= @room.room_name %></h5>
      <h6><%= to_currency_php(@room.room_rate) %>/night</h6>
      <br>
      <div class="carousel carousel-slider center">
        <% (0...@room.images.count).each do |image| %>
        <div class="carousel-item">
          <div class="row">
            <%= image_tag(@room.display_image(image)) %>
          </div>
        </div>
        <% end %>
      </div>
      <br>
      <%= @room_class.room_info %>
      <br>
      <hr>
      <h6>Room Components</h6>
      <strong>Bedroom</strong><br>
      <% @room_class.bedroom_contents.each do |bedroom| %>
        - <%= bedroom %><br>
      <% end %>
      <br>
      <strong>Living Room</strong><br>
      <% @room_class.living_room_contents.each do |living_room| %>
        - <%= living_room %><br>
      <% end %>
      <br>
      <strong>Kitchen</strong><br>
      <% @room_class.kitchen_contents.each do |kitchen| %>
        - <%= kitchen %><br>
      <% end %>
      <br>
      <strong>Balcony</strong><br>
      <% @room_class.balcony_contents.each do |balcony| %>
        - <%= balcony %><br>
      <% end %>
      <br><hr>
      <h6>Ammenities</h6>
      <% @ammenities.ammenities.each do |ammenity| %>
        - <%= ammenity %><br>
      <% end %>
    </div>
  </div>
  <div class="col l4">
    <%= form_for @booking do |f| %>
      <div class="row book-details">
        <div class="col l6">
          <%= f.label "Check-in" %>
          <%= f.text_field :check_in, class: "datepicker_from" %>
        </div>
        <div class="col l6">
          <%= f.label "Check-out" %>
          <%= f.text_field :check_out, class: "datepicker_to" %>
        </div>
      </div>
      <p class="book-details">
        <%= f.select :number_of_guest, count_max_capacity %>
      </p>
      <div class="">
      </div>
      <div class="row book-details">
        <div class="col l6 left">
          <%= f.label :room_rate %>
          <%= f.text_field :room_rate, value: current_room.room_rate, class: "room_rate", readonly: true %>
          <br>
          <%= f.label :number_of_night %>
          <%= f.text_field :number_of_night, class: "total_days", readonly: true %>
          <br>
          <%= f.label :sub_total %>
          <%= f.text_field :sub_total, value: 0, class: "sub_total", readonly: true %>
          <br>
          <%= f.label :cleaning_fee %>
          <%= f.text_field :cleaning_fee, value: current_room.cleaning_fee, class: "cleaning_fee", readonly: true %>
          <br>
          <%= f.label :service_fee %>
          <%= f.text_field :service_fee, value: current_room.service_fee, class: "service_fee", readonly: true %>
          <br>
          <%= f.label :total_bill %>
          <%= f.text_field :total_bill, class: "total_bill", readonly: true %>
        </div>

      </div>
      <div class="row book-details">
        <%= f.submit "Book", class: "waves-effect waves-light btn red" %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('.carousel.carousel-slider').carousel({
    fullWidth: true,
    indicators: true
  });

  $(document).ready(function(){
    var today = new Date();
    var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
    $('.datepicker_to').datepicker({
      minDate: new Date(date),
      autoClose: true,
      disableDayFn: function (date) {
        var disabledDays = <%= get_blocked_date.inspect.html_safe %>;
      //  var disabledDays = ['20/02/2020', '21/02/2020', '22/02/2020', '23/02/2020'];
        var DD = ('0' + date.getDate()).slice(-2);
        var MM = ('0' + (date.getMonth() + 1)).slice(-2);
        var YYYY = date.getFullYear();

        var YYYYDDMM = YYYY + '-' + MM + '-' + DD;

        for(i = 0; i < disabledDays.length; i++){
          if(YYYYDDMM == disabledDays[i])
          {
            return date;
          }
        }
      },
      onSelect: function(){
        var d1 = $('.datepicker_from').val();
        var d2 = $('.datepicker_to').val();
        var date1 = new Date(d1);
        var date2 = new Date(d2);
        var date1_ms = date1.getTime();
        var date2_ms = date2.getTime();
        var diff = date2_ms-date1_ms;
        var days = diff/1000/60/60/24;
        $('.total_days').val(days);

        var roomRate = parseFloat($('.room_rate').val());
        var numNight = parseFloat($('.total_days').val());
        var cleanFee = parseFloat($('.cleaning_fee').val());
        var serviceFee = parseFloat($('.service_fee').val());
        var subTotal = parseFloat($('.sub_total').val());
        var total = 0.00
        subTotal = roomRate * numNight;
        total = subTotal + cleanFee + serviceFee;

        $('.sub_total').val(subTotal.toFixed(2));
        $('.total_bill').val(total.toFixed(2));
      }
    });
  });

  $(document).ready(function(){
    var today = new Date();
    var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();

    $('.datepicker_from').datepicker({
      minDate: new Date(date),
      autoClose: true,
      disableDayFn: function (date) {
        var disabledDays = <%= get_blocked_date.inspect.html_safe %>;
      //  var disabledDays = ['20/02/2020', '21/02/2020', '22/02/2020', '23/02/2020'];
        var DD = ('0' + date.getDate()).slice(-2);
        var MM = ('0' + (date.getMonth() + 1)).slice(-2);
        var YYYY = date.getFullYear();

        var YYYYDDMM = YYYY + '-' + MM + '-' + DD;

        for(i = 0; i < disabledDays.length; i++){
          if(YYYYDDMM == disabledDays[i])
          {
            return date;
          }
        }
      },
      onSelect: function(){
        $('.sub_total').val(0.00);
        $('.number_of_night').val(0);
        $('.total_bill').val(0.00);
      }
    });
  });

  $(document).ready(function(){
    $('select').formSelect();
  });

</script>
