<div class="row">
  <div class="col l8">
    <div class="row room-details-container">
      <%= @room.room_number %>
      <div class="carousel carousel-slider center">
        <% (0...@room.images.count).each do |image| %>
        <div class="carousel-item">
          <div class="row">
            <%= image_tag @room.images[image] %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col l4">
    <div class="row book-details">
      <%= number_to_currency_php(@room.room_rate) %>
    </div>
    <%= form_for @booking do |f| %>
      <div class="row book-details">
        <div class="col l6">
          <%= f.label "Check-in" %>
          <%= f.text_field :time_in, class: "datepicker" %>
        </div>
        <div class="col l6">
          <%= f.label "Check-out" %>
          <%= f.text_field :time_in, class: "datepicker" %>
        </div>
      </div>
      <p class="book-details">
        <select>
          <option value="" disabled-content>Number of guest</option>
            <% (1..@room.max_capacity).each do |max| %>
              <option value="<%= max %>"><%= max %></option>
            <% end %>
        </select>
      </p>

      <div class="row book-details">
        <%= f.submit "Book", class: "waves-effect waves-light btn red" %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('.carousel.carousel-slider').carousel({
    fullWidth: true,
    indicators: true
  });

  $(document).ready(function(){
    $('.datepicker').datepicker();
  });

  $(document).ready(function(){
    $('select').formSelect();
  });
</script>
