<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to "My Account", current_user %></li>
  <li><%= link_to "Settings", edit_user_registration_path %></li>
  <li class="divider"></li>
  <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
</ul>
<nav>
  <div class="nav-wrapper light-blue">
    <%= link_to image_tag("hotel-logo.png", size: 64), root_path, :class => "hotel-logo" %>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Rooms", all_rooms_path %></li>
      <% if user_signed_in? %>
        <% if current_user.admin == true %>
          <li><%= link_to "Admin Dashboard", rails_admin.dashboard_url %></li>
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
        <% else %>
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
        <% end %>

      <% else %>
        <li><%= link_to "Log in", new_session_path(:user) %></li>
        <li><%= link_to "Signup", new_user_registration_path %></li>
      <% end %>
      <!-- Dropdown Trigger -->
    </ul>
  </div>
</nav>

<script type="text/javascript">
  $(".dropdown-trigger").dropdown();
</script>
